{% extends "::base.html.twig" %}

{% block bodyContained %}
    <h2>Cette page présente un soucis technique</h2>
    <p>Elle sera de nouveau disponible rapidement, vous pouvez faire une demande sur GitHub pour améliorer la situation.</p>

    <a href="{{ path('homepage') }}">Retour à l'accueil</a>
{% endblock %}