{% extends "::base.html.twig" %}

{% block body %}
    {{ dump(_context) }}
    <h2>Cartographie des évènements</h2>

    <div id="map"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd4Poy6TmjkrC8AHTeL7XX6aLS4Pyz45I&callback=initMap">
    </script>

    <script>require('js-marker-clusterer/src/markerclusterer.js');</script>

    <script>var axios = require('axios');</script>

    <script>
        var map, infowindow, locations;

        function initMap() {
            settings = {
                lat: 47.6425875,
                lng: 6.844186600000057,
                zoom: 8
            };
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: settings.zoom,
                center: {lat: settings.lat, lng: settings.lng}
            });
            infowindow = new google.maps.InfoWindow({
                content: "No data available"
            });
            setMarkers(map);
        }

        function setMarkers(map){
            axios.get('http://local.sf3.com/app_dev.php/api/location/list').then(function (response) {
                locations = JSON.parse(response.data);

                var iconUrl = "{{ asset('/images/map/green-heart.svg') }}";

                for (var i = 0; i < locations.length; i++) {
                    var loc = locations[i];
                    var latLng = new google.maps.LatLng(loc.latitude, loc.longitude);
                    var icon = {
                        url: iconUrl,
                        scaledSize: new google.maps.Size(30, 30),
                    };
                    var marker = new google.maps.Marker({
                        position: latLng,
                        map: map,
                        content: loc.events,
                        icon: loc.icon_for_google_map !== null ? icon : null,
                        scaledSize: new google.maps.Size(50, 50)
                    });
                    google.maps.event.addListener(marker, 'click', showInfoWindow);
                }
            }).catch(function (error) {
                console.log(error);
            });

            function showInfoWindow() {
                var div = document.createElement('div');
                var ul = document.createElement('ul');
                div.appendChild(ul);
                for(var i=0; i<this.content.length; i++){
                    var li = document.createElement('li');
                    li.innerHTML=this.content[i].name;
                    ul.append(li)
                }

                // var html = "<h3>"+this.content[0].name+"</h3>";
                infowindow.setContent(div);
                infowindow.open(map, this);
            }
        }
    </script>
{% endblock %}