{% extends "::base.html.twig" %}

{% block bodyContained %}
    {#{% if app.user is not empty %}#}
    {#{{ dump(app.user) }}#}
    {#{% endif %}#}
    <h1>Accueil</h1>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}