<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Base</title>
    <link rel="stylesheet" href="{{ asset('/assets/app.css') }}"/>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd4Poy6TmjkrC8AHTeL7XX6aLS4Pyz45I"></script>
    <script src="{{ asset("/assets/vendor.js") }}"></script>
    <script src="{{ asset("/assets/app.js") }}"></script>
</head>
<body>
<div id="loader">
    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>


{% block body %}
{% endblock %}

{% block javascripts %}

{% endblock %}
</body>
</html>