<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>test</title>
</head>
<body>

<h1>Super mail !</h1>

<div>
    {% if content is defined %}
        {{ content|raw }}
    {% endif %}
</div>

<p>A bientôt !</p>

</body>
</html>