{% extends "::base.html.twig" %}

{% block body %}
    {#{% if app.user is not empty %}#}
        {#{{ dump(app.user) }}#}
    {#{% endif %}#}
    <div id="app"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd4Poy6TmjkrC8AHTeL7XX6aLS4Pyz45I"></script>

    <script>
        const datas = {
            user: {% if app.user is not empty %}{{ app.user|serialize('json')|raw }}{% else %}{}{% endif %},
            staticFolder :"{{ asset("") }}"
        };
    </script>

    <script>require('Resources/build/vue/index.js');</script>
{% endblock %}